@media (max-width: 400px) {
  img[src="img/flower.png"] {
    width: 200px;
  }
}

@media (max-width: 600px) {
  img[src="img/flower.png"] {
    width: 300px;
  }
}

@media (min-width: 600px) {
  img[src="img/flower.png"] {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  img[src="img/flower.png"] {
    width: 450px;
  }
}

body {
  background-color: #D3EBD4;
  color: #2E2E2E;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
}

header {
  text-align: right;
  padding: 2em 4em;
  color: #388E3C;
}

header span {
  letter-spacing: -2px;
  margin-right: 1em;
}

header p {
  display: inline;
}

img[src="img/flower.png"] {
  position: absolute;
  top: 10%;
  left: -100px;
  -webkit-filter: grayscale(10%);
  -moz-filter:    grayscale(10%);
  -ms-filter:     grayscale(10%);
  -o-filter:      grayscale(10%);
  filter: gray;
}

.first-section {
  padding: 8em 0;
}

.second-section {
  padding: 8em 0;
  background: linear-gradient(rgba(126, 185, 129, 0.8), rgba(126, 185, 129, 0.8)), url('../img/handshake.jpg');
  border-top: 2px solid #388E3C;
  border-bottom: 2px solid #388E3C;
}

.second-section div {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.third-section div {
  padding: 3em 5em 3em 0;
}

.third-section img {
  margin: 0;
  opacity: 0.6;
}

.third-section h1 {
  padding-bottom: 0.5em;
}

.third-section p {
  padding-bottom: 1em;
}

.form td:first-child {
  width: 70px;
}

.table-form {
  min-width: 400px;
}

.images table tr:first-child td {
  text-align: right;
  vertical-align: bottom;
}

input[type="email"] {
  background: transparent;
  border: 1px solid #2E2E2E;
  border-radius: 2px;
  margin-bottom: 1em;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid #388E3C;
  border-radius: 2px;
  color: #388E3C;
  padding: 0.5em 1em;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background: #388E3C;
  border: 1px solid #388E3C;
  border-radius: 2px;
  color: white;

}

img[src="img/cleaner.jpg"] {
  width: 160px;
}

img[src="img/carpentry.jpg"] {
  width: 250px;
}

img[src="img/scrubbing.jpg"] {
  width: 60px;
}

img[src="img/housepainter.jpg"] {
  width: 140px;
}

img[src="img/plumber.jpg"] {
  width: 250px;
}


img[src="img/pinecone.png"] {
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 60%;
}

.check {
  width: 20px;
  height: 20px;
  position: relative;
}

.check label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  background: transparent;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.check label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check label:hover::after {
  opacity: 0.5;
}

.check input[type=checkbox] {
  visibility: hidden;
}

.check input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.check span {
  padding-left: 1em;
}