body {
  background-color: #D3EBD4;
  color: #2E2E2E;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
}

header {
  text-align: right;
  padding: 2em 4em;
  color: #388E3C;
}

footer {
  color: #388E3C;
}

header span {
  letter-spacing: -2px;
  margin-right: 1em;
}

footer span {
  letter-spacing: -2px;
  margin-left: 1em;
}

header p {
  display: inline;
}

img[src="img/flower.png"] {
  position: absolute;
  top: 10%;
  left: -100px;
  -webkit-filter: grayscale(10%);
  -moz-filter:    grayscale(10%);
  -ms-filter:     grayscale(10%);
  -o-filter:      grayscale(10%);
  filter: gray;
}

.first-section {
  padding: 8em 2em 8em 0;
}

.second-section {
  padding: 8em 0;
  background:linear-gradient(rgba(126,185,129,.4),rgba(126,185,129,.4)),url(../img/handshake.jpg);
  background-size:100%;
  border-top: 2px solid #388E3C;
  border-bottom: 2px solid #388E3C;
}

.second-section div {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.third-section div {
  padding: 3em 5em 0 0;
}

.third-section img {
  float: left;
  opacity: 0.6;
}

.third-section h1 {
  padding-bottom: 0.5em;
}

.third-section p {
  padding-bottom: 1em;
}

.form td:first-child {
  width: 110px;
}

.form tr:first-child td:nth-child(2) {
  padding-top: 15px;
}

.table-form {
  min-width: 400px;
}

.images table tr:first-child td {
  vertical-align: bottom;
}

.images table tr:nth-child(2) td {
  vertical-align: top;
}

input[type="email"] {
  background: transparent;
  border: 1px solid #2E2E2E;
  border-radius: 2px;
  margin-bottom: 1em;
}

input[type="submit"], .home-link {
  background: transparent;
  border: 1px solid #388E3C;
  border-radius: 2px;
  color: #388E3C;
  padding: 0.5em 1em;
  margin-top: 1em;
}

a, a:visited, a:hover {
  color: #388E3C;
}

.address-link {
  margin: 1.5em 0 2em 0;
}

input[type="submit"]:hover, .home-link:hover {
  background: #388E3C;
  border: 1px solid #388E3C;
  border-radius: 2px;
  color: white;
}

img[src="img/cleaner.jpg"] {
  width: 160px;
}

img[src="img/carpentry.jpg"] {
  width: 250px;
  position: absolute;
  top: 124px;
}

img[src="img/scrubbing.jpg"] {
  width: 55px;
}

img[src="img/housepainter.jpg"] {
  width: 150px;
}

img[src="img/plumber.jpg"] {
  width: 250px;
}

img[src="img/pinecone.png"] {
  width: 60%;
  float: right;
}

.success-footer {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1000px) {
  img[src="img/flower.png"] {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  img[src="img/flower.png"] {
    width: 450px;
  }
}

@media (min-width: 600px) {
  footer p {
    padding-top: 9em;
    padding-left: 4em;
    float: left;
  }
}

@media (max-width: 600px) {
  img[src="img/flower.png"] {
    width: 300px;
  }
  footer p {
    padding-top: 2em;
    padding-left: 2em;
    float: none;
  }
  img[src="img/carpentry.jpg"] {
    width: 200px;
    position: absolute;
    display: inline-block;
  }
  .second-section {
    padding: 0.5em 0;
    background-size:120%;
    background-position: center;
  }
  .second-section div {
    width: 100%;
  }
}

@media (max-width: 400px) {
  img[src="img/flower.png"] {
    width: 250px;
    top: 15%;
    left: -100px !important;
  }
  .hr {
    display: none;
  }
  .first-section {
    padding: 0em 1em 1em 0;
  }
  .second-section {
    padding: 0.5em 0;
    background-size:150% !important;
    background-position: center;
  }
  .second-section div {
    width: 100%;
  }
  .success-home-link {
    font-size: 0.6em;
  }
  .success-footer {
    position: relative;
  }
}